body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(203 213 225);
    font-family: "Outfit", sans-serif;
}

.container {
    text-align: center;
    border: 1px solid white;
    width: fit-content;
    padding: 20px;
    margin: 20px auto;
    border-radius: 25px;
    background-color: white;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 25px;
}

p {
    font-size: 15px;
}

#p-1 {
    font-weight: 700;
    width: 250px;
    margin: 8px auto;
}

#p-2 {
    font-weight: 400;
    width: 250px;
    margin: 8px auto;
}


